[submodule "Includes"]
	path = Includes
	url = https://github.com/DreamyCecil/SE1-ModSDK.git
	branch = includes
[submodule "CoreLib"]
	path = CoreLib
	url = https://github.com/SamClassicPatch/CoreLib.git
[submodule "EnginePatches"]
	path = EnginePatches
	url = https://github.com/SamClassicPatch/EnginePatches.git
[submodule "Docs"]
	path = Docs
	url = https://github.com/SamClassicPatch/SuperProject.wiki.git
[submodule "Builds/TSE107/Mods/ClassicsPatchMod"]
	path = Builds/TSE107/Mods/ClassicsPatchMod
	url = https://github.com/SamClassicPatch/ModShell.git
[submodule "Extras/XGizmo"]
	path = Extras/XGizmo
	url = https://github.com/SamClassicPatch/XGizmo.git
[submodule "API"]
	path = API
	url = https://github.com/SamClassicPatch/API.git
