[submodule "Includes"]
	path = Includes
	url = https://github.com/DreamyCecil/SeriousSam_SDK107.git
	branch = includes
[submodule "CoreLib"]
	path = CoreLib
	url = https://github.com/SamClassicPatch/CoreLib.git
[submodule "GameExecutable"]
	path = GameExecutable
	url = https://github.com/SamClassicPatch/GameExecutable.git
[submodule "DedicatedServer"]
	path = DedicatedServer
	url = https://github.com/SamClassicPatch/DedicatedServer.git
[submodule "ExamplePlugin"]
	path = ExamplePlugin
	url = https://github.com/SamClassicPatch/ExamplePlugin.git
[submodule "EngineGUI"]
	path = EngineGUI
	url = https://github.com/SamClassicPatch/EngineGUI.git
[submodule "Plugins"]
	path = Plugins
	url = https://github.com/SamClassicPatch/Plugins.git
