[submodule "Includes"]
	path = Includes
	url = https://github.com/DreamyCecil/SE1-ModSDK.git
	branch = includes
[submodule "CoreLib"]
	path = CoreLib
	url = https://github.com/SamClassicPatch/CoreLib.git
[submodule "GameExecutable"]
	path = GameExecutable
	url = https://github.com/SamClassicPatch/GameExecutable.git
[submodule "DedicatedServer"]
	path = DedicatedServer
	url = https://github.com/SamClassicPatch/DedicatedServer.git
[submodule "ExamplePlugin"]
	path = ExamplePlugin
	url = https://github.com/SamClassicPatch/ExamplePlugin.git
[submodule "EngineGUI"]
	path = PatchedGui
	url = https://github.com/SamClassicPatch/EngineGUI.git
[submodule "Plugins"]
	path = Plugins
	url = https://github.com/SamClassicPatch/Plugins.git
[submodule "WorldEditor"]
	path = WorldEditor
	url = https://github.com/SamClassicPatch/WorldEditor.git
[submodule "EnginePatches"]
	path = EnginePatches
	url = https://github.com/SamClassicPatch/EnginePatches.git
[submodule "Shaders"]
	path = Shaders
	url = https://github.com/SamClassicPatch/Shaders.git
[submodule "Docs"]
	path = Docs
	url = https://github.com/SamClassicPatch/SuperProject.wiki.git
[submodule "Mod"]
	path = Mod
	url = https://github.com/SamClassicPatch/Mod.git
[submodule "Builds/TSE107/Mods/ClassicsPatchMod"]
	path = Builds/TSE107/Mods/ClassicsPatchMod
	url = https://github.com/SamClassicPatch/ModShell.git
[submodule "Extras/XGizmo"]
	path = Extras/XGizmo
	url = https://github.com/SamClassicPatch/XGizmo.git
[submodule "API"]
	path = API
	url = https://github.com/SamClassicPatch/API.git
